<div class="row noprint">
  <button class="back one column" (click)="goBack()"><</button>
  <div class="four columns">
    <!-- <select name="menu" id="menu" class="u-full-width" *ngIf="sectii">
      <option 
      *ngFor="let sectie of sectii"
      routerLink="iris-week/{{sectie.id}}" 
      value={{sectie.id}}>
        {{sectie.name}}
      </option>
    </select> -->
    <button mat-button [matMenuTriggerFor]="menu">Sectii</button>
    <mat-menu #menu="matMenu">
      <button  
        *ngFor="let sectie of sectii"
        routerLink="iris-week/{{sectie.id}}"
        mat-menu-item
      >
        {{sectie.name}}
      </button>
    </mat-menu>
  </div>
    <button class="u-pull-right logout" (click)="logOut()">Logout</button>
</div>