<!-- <div class="row noprint">
  <button class="back one column" (click)="goBack()"><</button>
  <div class="four columns">
    <button mat-button [matMenuTriggerFor]="menu">Sectii</button>
    <mat-menu #menu="matMenu">
      <button  
        *ngFor="let sectie of sectii"
        routerLink="iris-week/{{sectie.id}}"
        mat-menu-item
      >
        {{sectie.name}}
      </button>
    </mat-menu>
  </div>
    <button class="u-pull-right logout" (click)="logOut()">Logout</button>
</div> -->
<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <button mat-button (click)="goBack()"> < Inapoi</button>
    <span class="full-width"></span>
    <span>Raportare ISC</span>
    <span class="full-width"></span>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="auth.isLoggedIn">Sectii</button>
    <button mat-button *ngIf="auth.isLoggedIn">Iesire</button>
    <mat-menu #menu="matMenu">
      <button  
        *ngFor="let sectie of sectii"
        routerLink="iris-week/{{sectie.id}}"
        mat-menu-item
      >
        {{sectie.name}}
      </button>
    </mat-menu>
   </mat-toolbar-row>