<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>Raportare ISC</span>
    <span class="full-width"></span>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="auth.isLoggedIn">Sectii</button>
    <button mat-button *ngIf="auth.isLoggedIn" (click)="logOut()">Iesire</button>
    <mat-menu #menu="matMenu">
      <button  
        *ngFor="let sectie of sectii"
        (click)="sectieNav('iris-week/'+sectie.id)"
        mat-menu-item
        >
        {{sectie.name}}
      </button>
    </mat-menu>
  </mat-toolbar-row>