<h2 id="h2">{{sectie}}</h2>
<h5 id="h5">Template</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Tip</th>
      <th>Produs</th>
      <th>UM</th>
      <th>Material</th>
      <th>Coeficient</th>
      <th>Merged</th>
      <th>Randament In</th>
      <th>Randament Out</th>
      <th> </th>
    </tr>
  </thead>
  <tbody *ngIf="currentTemplates && keys" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <tr class="example-box" *ngFor="let ac of currentTemplates; index as i" cdkDrag>
        <td>
          <select name="tip" id="tip" [(ngModel)]="ac.tip" (change)="test()">
            <option *ngFor="let tip of keys.tip" value={{tip}}>{{tip}}</option>
          </select>
        </td>
        <td>
          <select name="produse" id="produse" [(ngModel)]="ac.produse" (change)="test()">
            <option *ngFor="let produse of keys.produse" value={{produse}}>{{produse}}</option>
          </select>
        </td>
        <td>
          <select name="um" id="um" [(ngModel)]="ac.um" (change)="test()">
            <option *ngFor="let um of keys.um" value={{um}}>{{um}}</option>
          </select>
        </td>
        <td>
          <select name="material" id="material" [(ngModel)]="ac.material" (change)="test()">
            <option *ngFor="let material of keys.material" value={{material}}>{{material}}</option>
          </select>
        </td>
        <td>
          <input type="text" placeholder="Coef."  [(ngModel)]="ac.coeficient" (change)="test()">
        </td>
        <td>
          <input 
          type="checkbox" 
          [checked]="ac.merged" 
          (change)="ac.merged = !ac.merged" 
          >
        </td>
        <td>
          <input type="number" [(ngModel)]="ac.r_in">
        </td>
        <td>
          <input type="number" [(ngModel)]="ac.r_out">
        </td>
        <td>
          <button mat-raised-button color="secondary" (click)="removeAc(i)">-</button>
        </td>
      </tr>
    <tr>
      <td>
        <select name="tip" id="tip" [(ngModel)]="newActionTemplate.tip" (change)="test()">
          <option *ngFor="let tip of keys.tip" value={{tip}}>{{tip}}</option>
        </select>
      </td>
      <td>
        <select name="produse" id="produse" [(ngModel)]="newActionTemplate.produse" (change)="test()">
          <option *ngFor="let produse of keys.produse" value={{produse}}>{{produse}}</option>
        </select>
      </td>
      <td>
        <select name="um" id="um" [(ngModel)]="newActionTemplate.um" (change)="test()">
          <option *ngFor="let um of keys.um" value={{um}}>{{um}}</option>
        </select>
      </td>
      <td>
        <select name="material" id="material" [(ngModel)]="newActionTemplate.material" (change)="test()">
          <option *ngFor="let material of keys.material" value={{material}}>{{material}}</option>
        </select>
      </td>
      <td>
        <input type="text" placeholder="Coef."  [(ngModel)]="newActionTemplate.coeficient" (change)="test()">
      </td>
      <td>
        <input type="checkbox" 
        [checked]="newActionTemplate.merged" 
        (change)="newActionTemplate.merged = !newActionTemplate.merged">
      </td>
      <td>
        <input type="number" [(ngModel)]="newActionTemplate.r_in">
      </td>
      <td>
        <input type="number" [(ngModel)]="newActionTemplate.r_out">
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="addAc()">+</button>
      </td>
    </tr>
  </tbody>
</table>
<button mat-raised-button (click)="saveTemplate()" color="primary">Save</button>
