<div class="container">
  <div class="row">
    <button class="back one column" (click)="goBack()"><</button>
    <div class="four columns">
      <select name="menu" id="menu" class="u-full-width">
        <option routerLink="/iris2-week" value="iris_2">Iris 2</option>
        <option routerLink="/iris3-week" value="iris_3">Iris 3</option>
      </select>
    </div>
      <button class="u-pull-right logout" (click)="logOut()">Logout</button>
  </div>
  
  <router-outlet></router-outlet>

</div>
  