<div class="container">
  <div class="row noprint">
    <button class="back one column" (click)="goBack()"><</button>
    <div class="four columns">
      <select name="menu" id="menu" class="u-full-width" *ngIf="sectii">
        <option 
        routerLink="/iris-week/{{sectie.id}}" 
        value={{sectie.id}}>
          {{sectie.name}}
        </option>
      </select>
    </div>
      <button class="u-pull-right logout" (click)="logOut()">Logout</button>
  </div>
  
  <router-outlet></router-outlet>

</div>
  