<h3 id="h2"><span *ngIf="name$ ">Sectie: {{name$ | async}}</span></h3>
<h5 id="h5" class="noselect">
  <span class="link noprint" (click)="backOneWeek()"><<</span>
    Saptamana {{now.isoWeek()}}  
  <span class="link noprint" (click)="forwardOneWeek()">>></span>
</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th rowspan="2"> </th>
      <th rowspan="2">Produs</th>
      <th rowspan="2">UM</th>
      <th rowspan="2">Material</th>
      <th *ngFor="let day of weekDays" colspan="4" routerLink="/iris-detail/{{sectie$ | async}}/{{day}}" class="link">{{day}}</th>
      <th colspan="4">TOTAL</th>
    </tr>
    <tr class="cantitate-header">
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody *ngFor="let tip of unique_tip">
    <tr>

      <td>{{tip}}</td>
    </tr>
    <tr *ngFor="let row of rowsByTip(tip)">
      <!-- <td *ngFor="let td of row">{{td}}</td> -->
      <td> </td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td class="cantitate" *ngIf="row[0]" colspan="4">{{row[8]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[5]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[6]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[7]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[8]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[12]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[9]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[10]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[11]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[12]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[16]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[13]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[14]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[15]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[16]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[20]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[17]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[18]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[19]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[20]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[24]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[21]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[22]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[23]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[24]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[28]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[25]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[26]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[27]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[28]}}</td>
      <td class="cantitate" class="center" *ngIf="row[0]" colspan="4">{{row[32]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[29]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[30]}}</td>
      <td class="cantitate" *ngIf="!row[0]">{{row[31]}}</td>
      <td class="bold-n-space cantitate" *ngIf="!row[0]">{{row[32]}}</td>
    </tr>
  </tbody>
</table>


