<h3><span *ngIf="name">Sectie: {{name}}</span></h3>
<h5 class="noselect">
  <span class="link noprint" (click)="backOneWeek()"><<</span>
    Saptamana {{now.isoWeek()}}  
  <span class="link noprint" (click)="forwardOneWeek()">>></span>
</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th rowspan="2"> </th>
      <th rowspan="2">Produs</th>
      <th rowspan="2">UM</th>
      <th rowspan="2">Material</th>
      <th *ngFor="let day of weekDays" colspan="4" routerLink="/iris-detail/{{sectie}}/{{day}}" class="link">{{day}}</th>
      <th colspan="4">TOTAL</th>
    </tr>
    <tr>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let td of row">{{td}}</td>
    </tr>
  </tbody>
</table>