<h3>Sectie: <span *ngIf="name">{{name}}</span></h3>
<h5>Raport productie: {{date}}</h5>

<button routerLink="/edit-table/{{sectie}}">Editare</button>
<table class="u-full-width" *ngIf="actions && unique_tip">
  <thead>
    <tr>
      <th rowspan="2"> </th>
      <th rowspan="2">Produs</th>
      <th rowspan="2">UM</th>
      <th rowspan="2">Material</th>
      <th colspan="4">Cantitati</th>
    </tr>
    <tr>
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody *ngFor="let tip of unique_tip">
    <tr>
      <th>{{tip | titlecase}}</th>
    </tr>
    <tr *ngFor="let ac of getAcByTip(tip)">
      <td> </td>
      <td>{{ac.produse}}</td>
      <td>{{ac.um}}</td>
      <td>{{ac.material}}</td>
      <td>
        <input 
          type="number" 
          [(ngModel)]="ac.cantitate.schimb_1"
          (change)="recalculate(ac)"
        >
      </td>
      <td>
          <input 
            type="number" 
            [(ngModel)]="ac.cantitate.schimb_2"
            (change)="recalculate(ac)"
          >
        </td>
        <td>
            <input 
              type="number" 
              [(ngModel)]="ac.cantitate.schimb_3"
              (change)="recalculate(ac)"
            >
          </td>
          <td>{{ac.cantitate.schimb_1 + ac.cantitate.schimb_2 + ac.cantitate.schimb_3}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th>Randament</th>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td>%</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>
<button class="button-primary" (click)="saveTable()">Save</button>
