@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url(./assets/css/normalize.css);
@import url(./assets/css/skeleton.css);

table {
    line-height: normal;
}

th, td {
    padding: 2px;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 1em;
}

tbody>tr:hover {
    background-color: #eee;
}

.link:hover {
    cursor: pointer;
    color: red;
}

td > input {
    width: 100%;
    max-width: 4em;
}

/* Turn off arrows in input fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

input {
    border: none;
    box-shadow: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  @media print {
    /* Margins */
    @page { margin: 0; }
    body { 
        padding: 1.6cm; 
        font-size: 1em;
    }

    .noprint, button{
        display: none;
    }

    input[type="email"], input[type="number"], input[type="search"], 
    input[type="text"], input[type="tel"], input[type="url"], 
    input[type="password"], textarea, select {
        border: none;
        margin: 0;
    }
    
  }